{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'core/css/sweetalert2.min.css' %}"/>
{% endblock %}
{% block js %}
    <script src="{% static 'core/js/lib/sweetalert2.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="page-header">

            <h1>{{ advert.header }}
                <small>{{ advert.price }}₽</small>
            </h1>

            <p>Номер: {{ advert.id }}, размещено: {{ advert.created }}</p>
            {% if request.user == advert.owner %}
                <div>
                    <a href="{% url 'adverts:edit' advert.id %}" class="btn btn-primary">Редактировать</a>
                    <form action="{% url 'adverts:delete' advert.id %}" class="delete-form" style="display: inline-block">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Удалить</button>
                    </form>

                </div>
            {% endif %}
{#            <div class="pull-right btn-danger btn">Удалить</div>#}
        </div>
        <div class="row">
            <div class="col-md-9">
                <img src="{% if advert.photo %}{{ advert.photo.url }}{% else %}{% static 'core/img/default.jpg' %}{% endif %}" class="img-responsive img-rounded  center-block">
                <hr/>
{#                <p>#}
{#                    Какая-то специальная информация#}
{#                </p>#}
{#                <hr/>#}
                <p>{{ advert.text }}</p>
            </div>
            <div class="col-md-3">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="tel:{{ advert.owner.phone }}">{{ advert.owner.phone }}</a>
{#                <button type="button" class="btn btn-default btn-lg btn-block">Написать сообщение</button>#}
                <br/>
                <address>
                    <strong>{{ advert.owner.get_full_name }}</strong><br/>
                    г. {{ advert.city }}, {{ advert.address }}<br/>
                </address>
            </div>
        </div>
{#        <div class="row">#}
{#            <div class="col-md-9">#}
{#                <h3>Похожие объявления</h3>#}
{#                {% for i in "1234" %}#}
{#                    <div class="col-sm-3 col-md-3 col-xs-6">#}
{#                        <div class="thumbnail">#}
{#                            <img src="{% static 'core/img/default.jpg' %}" alt="">#}
{#                            <div class="caption">#}
{#                                <h3>Заголовок</h3>#}
{#                                <p>Описание</p>#}
{#                                <p><a href="{% url 'core:advert' %}" class="btn btn-primary"#}
{#                                      role="button">Просмотреть</a></p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-lg-12">#}
{#                БЛОК ДЛЯ РЕКЛАМЫ#}
{#                <br><br><br>#}
{#            </div>#}
{#        </div>#}
    </div>
    <script src="{% static 'adverts/js/show.html.js' %}"></script>
{% endblock %}