{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Рыбак плюс{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    {#    <link rel="stylesheet" href="{% static 'core/css/bootstrap-theme.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'core/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/slick-theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/custom.css' %}">
    {% block css %}{% endblock %}

    <script src="{% static 'core/js/lib/jquery.js' %}"></script>
    <script src="{% static 'core/js/lib/slick.min.js' %}"></script>
    <script src="{% static 'core/js/lib/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/lib/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'core/js/lib/chained.js' %}"></script>
    {% block js %}{% endblock %}
</head>
<body>
{% block banner %}{% load baners %}{% get_banner %}{% endblock %}
{% block header %}
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'core:index' %}"><img alt="Brand"
                                                                               src="{% static 'core/svg/fish.svg' %}"
                                                                               height="20px;"
                                                                               style="display: inline-block"> <b>rybakplus.ru</b></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'adverts:add' %}">Подать объявление</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="">{{ user.get_full_name }}</a></li>
                            <li><a href="{% url 'core:logout' %}">Выйти</a></li>
                        {% else %}
                            <li><a href="{% url 'core:registration' %}">Регистрация</a></li>
                            <li><a href="{% url 'core:login' %}">Авторизация</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
{% endblock %}
{% block content %}{% endblock %}

<div class="container">
    <footer class="footer" style="background-color: #4e5d6c">
        <div class="container" style="padding-top: 10px; padding-bottom: 10px;">
            <div class="col-sm-10">
                <div>
                    Контактный тел: <a href="tel:+79259258242">+7-925-925-82-42</a><br/>
                    e-mail: <a href="mailto:rybakplus@mail.ru"> Rybakplus@mail.ru</a>
                </div>
            </div>
            <div class="col-sm-2" style="padding-top: 10px">
                <a href="">rybakplus.ru</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>