{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <select id="category" class="selectpicker" data-selected="{{ selected_category }}" title="Категории">
            <option value="0">Все категории</option>
            {% for key, value in categories.items %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
        <select id="subcategory" class="selectpicker" data-selected="{{ selected_subcategory }}" title="Подкатегории">
        </select>
        <a data-href-category-template="{% url 'adverts:category' 0 %}" data-href-subcategory-template="{% url 'adverts:subcategory' 0 0 %}" data-href-all="{% url "adverts:index" %}" class="btn btn-primary show-button">Показать</a>
    </div>
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-sm-8 col-md-9">
                {% for advert in adverts %}
                    <div class="media well">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="
                                        {% if advert.photo %}{{ advert.photo.url }}{% else %}{% static 'core/img/default.jpg' %}{% endif %}"
                                     style="width: 128px; height: 128px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ advert.header }}</h4>
                            <p>{{ advert.text }}</p>
                            <p><b>Стоимость:</b> {{ advert.price }}₽</p>
                            <p><a href="{% url 'adverts:advert' advert.id %}" class="btn btn-primary"
                                  role="button">Просмотреть</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
                {% if is_paginated %}
                    {% if selected_subcategory %}
                        {% url 'adverts:subcategory' selected_category selected_subcategory as url %}
                    {% elif selected_category %}
                        {% url 'adverts:category' selected_category as url %}
                    {% else %}
                        {% url 'adverts:index' as url %}
                    {% endif %}
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4" style="text-align: center">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="{{ url }}?page=1" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% if page_obj.has_previous %}
                                        <li>
                                            <a href="{{ url }}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                                        </li>
                                    {% endif %}
                                    <li><a href="{{ url }}?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                                    {% if page_obj.has_next %}
                                        <li>
                                            <a href="{{ url }}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ url }}?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-sm-4 col-md-3">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">Лучшие объявления</h3>
                            </div>
                            <div class="panel-body">
                                {% for advert in best_adverts %}
                                    <div class="thumbnail">
                                        <img src="

                                                {% if advert.photo %}{{ advert.photo.url }}{% else %}{% static 'core/img/default.jpg' %}{% endif %}"
                                             class="img-responsive" style="height: 221px; object-fit: cover;">
                                        <div class="caption">
                                            <h3 style="-moz-hyphens: auto;-webkit-hyphens: auto;-ms-hyphens: auto;">{{ advert.header }}</h3>
                                            <p style="-moz-hyphens: auto;-webkit-hyphens: auto;-ms-hyphens: auto;">{{ advert.text }}</p>
                                            <p><a href="{% url 'adverts:advert' advert.id %}" class="btn btn-primary"
                                                  role="button">Просмотреть</a>
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">Реклама</h3>
                            </div>
                            <div class="panel-body">
                                <div class="thumbnail">
                                    <img src="{% static "core/img/advert1.png" %}"
                                         class="img-responsive" style="height: 221px; object-fit: cover;">
                                    <div class="caption">
                                        <h3>Рыболовная команда</h3>
                                    </div>
                                </div>
                                <div class="thumbnail">
                                    <img src="{% static "core/img/advert2.JPG" %}"
                                         class="img-responsive" style="height: 221px; object-fit: cover;">
                                </div>
                                <div class="thumbnail">
                                    <img src="{% static "core/img/advert3.jpeg" %}"
                                         class="img-responsive" style="height: 221px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">События</h3>
                            </div>
                            <div class="panel-body">
                                <div class="thumbnail">
                                    <img src="{% static "core/img/event.JPG" %}"
                                         class="img-responsive" style="height: 221px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'core/js/index.html.js' %}"></script>
{% endblock %}