{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <select id="category" class="selectpicker" data-selected="{{ selected_category }}">
            {% for key, value in categories.items %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
        <select id="subcategory" class="selectpicker" data-selected="{{ selected_subcategory }}">
            <option value="" selected disabled>Подраздел</option>
        </select>
        <a data-href-template="{% url 'adverts:all' 0 %}" class="btn btn-primary show-subcategory">Показать</a>
    </div>
    <div class="container">
        <br/>
        <div class="row">
            {% for advert in adverts %}
                <div class="col-sm-4 col-md-3 col-xs-6">
                    <div class="thumbnail">
                        <img src="
                                {% if advert.photo %}{{ advert.photo.url }}{% else %}{% static 'core/img/default.jpg' %}{% endif %}"
                             alt="">
                        <div class="caption">
                            <h3>{{ advert.header }}</h3>
                            <p>{{ advert.text }}</p>
                            <p><a href="{% url 'adverts:advert' advert.id %}" class="btn btn-primary" role="button">Просмотреть</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'core/js/index.html.js' %}"></script>
{% endblock %}